
.topNavContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    margin-block: 50px;
}


.topNavContainer p {
    font-family: "Nunito", sans-serif;
    color: white;
    font-weight: 300;
    font-size: 12px;
    margin-block: 5px 0px;
    letter-spacing: 3px;

}