
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    background-image: url("./assets/Images/heroProvisional.png");
    background-repeat: no-repeat;
    background-size: cover;
}

